<%- include('partials/header'); -%>

<header class="jumbotron text-center">
    <div class="container">
        <h2 class="display-4">SANTÉ</h2>
        <p class="lead">Cocktail Machine</p>
        <a href="/" class="btn btn-danger">返回</a>
    </div>              
</header>

<section id="gallery">
    <div class="container text-center">
        <h2>QRCode</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/QRcode_image.svg/330px-QRcode_image.svg.png" alt="QRCode">  
</section>



<%- include('partials/footer'); -%>